<ion-view view-title="日期选择">
    <ion-content class="padding">
            <h3 class="text-center">日历选择示例</h3>

            <h4>模态窗口模式</h4>
            <ionic-datepicker input-obj="datepickerObjectModal">
                <button class="button button-block button-positive ng-binding">{{dateModel}}</button>
            </ionic-datepicker>

            <h4>弹出层模式</h4>
            <ionic-datepicker input-obj="datepickerObjectPopup">
                <button class="button button-block button-positive ng-binding">{{datePopup}}</button>
            </ionic-datepicker>

    </ion-content>
</ion-view>