<ion-view title="Check In Portugal by aptece">
    <ion-content has-header="true" padding="false">
        <div class="list">

            <ion-scroll direction="x" class="item wide-item">Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,
            </ion-scroll>

            <ion-content direction="x" class="item">
                <div ng-repeat="item in items" style="display:inline">
                    <img src="{{item.image}}">
                </div>
            </ion-content>

        </div>
    </ion-content>
</ion-view>