<ion-view view-title="布局">
    <style>
        .col {
            border: 1px solid red;
        }
    </style>
<ion-content>
    <!-- ********* -->
    <!-- snippet 1 -->
    <div class="row">
        <div class="col">col-20%-auto</div>
        <div class="col">col-20%-auto</div>
        <div class="col">col-20%-auto</div>
        <div class="col">col-20%-auto</div>
        <div class="col">col-20%-auto</div>
    </div>
    <!-- snippet 1 -->
    <!-- ********* -->
    <!-- snippet 2 -->
    <div class="row">
        <div class="col">col-33%-auto</div>
        <div class="col">col-33%-auto</div>
        <div class="col">col-33%-auto</div>
    </div>
    <!-- snippet 2 -->
    <!-- ********* -->
    <!-- snippet 3 -->
    <div class="row">
        <div class="col col-50">col-50%-set</div>
        <div class="col">col-25%-auto</div>
        <div class="col">col-25%-auto</div>
    </div>
    <!-- snippet 3 -->
    <!-- ********* -->
    <!-- snippet 4 -->
    <div class="row">
        <div class="col col-50">col-50%-set</div>
        <div class="col">col-25%-auto</div>
        <div class="col">col-25%-auto</div>
    </div>
    <br><br>
    <div class="row">
        <div class="col col-offset-33">col-33%-offset</div>
        <div class="col">col-25%-auto</div>
    </div>
    <!-- snippet 4 -->
    <!-- ********* -->
    <!-- snippet 5 -->
    <div class="row">
        <div class="col col-50">col-50%-set</div>
        <div class="col">col-25%-auto</div>
        <div class="col">col-25%-auto</div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col col-offset-33">col-33%-offset</div>
        <div class="col">col-25%-auto</div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col col-top">.col-top</div>
        <div class="col col-center">.col-center</div>
        <div class="col col-bottom">.col-bottom</div>
        <div class="col">1
            <br>2
            <br>3
            <br>4
        </div>
    </div>
    <!-- snippet 5 -->
</ion-content>
   </ion-view>